Text{
    -fx-font-family: "Comic Sans MS";
    -fx-fill: rgb(0, 0, 132);
}

.root {
    -fx-font-family: "Comic Sans MS";
    -fx-text-fill: rgb(0, 0, 132);
}

.button {
    -fx-font-size: 16px;
    -fx-background-color: #ffffff65;
    -fx-text-fill: rgb(0, 0, 132);
    -fx-font-family: "Comic Sans MS";
    -fx-background-radius: 10;
    -fx-border-color: rgb(0, 0, 204);
    -fx-border-radius: 10;
}

.checkbox {
-fx-text-fill: rgb(0, 0, 132);
}

.password-field, .text-field, .choice-box {
    -fx-text-fill: rgb(0, 0, 132);
    -fx-border-color: rgb(0, 0, 204);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.choice-box {
-fx-background-color: #ffffff65;
}
